body {
    background-image: url(header_Terzo-Millennio.webp);
    background-size: cover;
}


h1 {
    text-align: center;
    color: rgb(248, 157, 73);
    font-size: 48px;
    font-family: 'Arial', sans-serif;
    background-color: rgb(169, 169, 169, 0.5);
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    animation:
        fadeInAndSlideUp 1s ease-out,
        colorChange 3s linear infinite,
        glowAnimation 1.5s ease-in-out infinite;
    animation-delay: 1s;
}

div {
    grid-area: auto;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

article {
    animation: fadeIn 1s ease-out;
    animation-delay: 1s;
    text-align: center;
    color: whitesmoke;
    font-size: 23px;
    color: whitesmoke;
    text-shadow:
    0 0 5px #b9b1a4,
    0 0 10px #b9b1a4,
    0 0 15px #b9b1a4,
    0 0 20px #b9b1a4,
    0 0 30px#b9b1a4;
}

@keyframes slideUp {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes glowAnimation {
    0% {
        text-shadow: 
            0 0 5px #ff7b00, 
            0 0 10px #ff7b00, 
            0 0 15px #ff7b00, 
            0 0 20px #ff7b00, 
            0 0 30px #ff7b00;
    }
    50% {
        text-shadow: 
            0 0 10px #ff7b00, 
            0 0 20px #ff7b00, 
            0 0 30px #ff7b00, 
            0 0 40px #ff7b00, 
            0 0 50px #ff7b00;
    }
    100% {
        text-shadow: 
            0 0 5px #ff7b00, 
            0 0 10px #ff7b00, 
            0 0 15px #ff7b00, 
            0 0 20px #ff7b00, 
            0 0 30px #ff7b00;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}